streamlit==1.40.1
langchain==0.3.7
langchain-core==0.3.21
langchain-community==0.3.7
langchain-text-splitters==0.3.2
langchain-huggingface==0.1.2
langchain-groq==0.2.1
langgraph==0.2.50
langgraph-checkpoint==2.0.7
chromadb==0.5.20
sentence-transformers==3.3.1
pypdf==5.1.0
